{% extends 'base.html' %}

{% block content %}
<header><h1>Create Alert</h1></header>
<section class="create-alert-form">
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="iPhone, Suit, watch..." />
        </div>
        <div class="form-group">
            <label for="item_url">Item_URL</label>
            <input type="text" class="form-control" id="item_url" name="item_url" placeholder="0xfaaf" />
        </div>
        <div class="form-group">
            <label for="price_limit">Price Limit</label>
            <input type="text" class="form-control" id="price_limit" name="price_limit" placeholder="500 ..." aria-describedby="priceHelp"/>
            <small id="priceHelp" class="form-text text-muted">
                What is the item price limit that you want the item to be under that limit to be notified?
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>
{% endblock %}